.colaboraciones {
  padding: 16px;
}

.grid-colabs {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  margin-top: 32px;
}

.colab {
  background: var(--accent-2);
  color: var(--dark-purple);
  border-radius: 12px;
  padding: 20px;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
