.portafolio {
  padding: 16px;
}

.grid-obras {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  margin-top: 32px;
}

.obra {
  background: var(--mint);

  border-radius: 12px;
  padding: 24px;
  text-align: center;
  font-weight: 600;
}
