.proyectos {
  padding: 16px;
}

.grid-proyectos {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  margin-top: 16px;
}

.proyecto {
  background: var(--aqua);
  border-left: 4px solid var(--accent);
  padding: 16px;
  border-radius: 10px;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
