:root{
  /* variables para color */
  --morado: #210124;
  --guindo: #750D37;
  --verde: #B3DEC1;
  --celeste: #DBF9F0;
  --plomo: #F7F9F7;
  /* varaibles para tipografia */
  --titulos: font-family: "Roboto Mono", bold;
  --fuente: font-family: "Roboto Mono", monospace;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal{
  position: absolute;
  width: 100%;
  height: auto;
  background-color: var(--celeste);
  text-align: left;
}
.modal .cerrar{
  position: absolute;
  top: 10px; right: 15px;
  font-size: 30px;
  cursor: pointer;
}
/* formularios */
form{
  /* background-color: var(--plomo); */
  margin: 10px;
  width: 90%;
  height: auto;
  border-radius: 30px;
  padding: 20px;
  /* box-shadow: 0px 0px 30px rgba(0,0,0,0.25); */
 /*  box-shadow: -5px -5px 30px gray; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
form div{
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
form .titulo{
  width: 300px;
  text-align: left;
}
form div input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  background-color: var;
  border: none;
  padding-left: 10px;
  padding-right: 5px;
  color: gray;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.25); 
  transition: box-shadow 0.3s ease;
}
form div input:focus {
  box-shadow: 0px 6px 12px rgba(0,0,0,0.35); 
  outline: none;
}
/* form div input{
  width: 300px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--celeste);
  border-style: none;
  box-shadow: 0px 3px 10px gray;
  padding-left: 10px;
  color: var(--plomo);
} */
input::placeholder {
  color: gray;
}
form .btn{
  width: 315px;
  height: 50px;
  line-height: 40px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: var(--celeste);
  border: 4px solid var(--plomo);
  font-weight: bold;
  font-size: 15px;
}
form .btn:hover {
  /* box-shadow: 0px 6px 12px rgba(0,0,0,0.35);  */
  outline: none;
  background-color: var(--celeste);
  color: gray;
  border: none;
}
form span{
  color: gray;
}
form span a{
  cursor: pointer;
  color: black;
  font-weight: bold;
}
form span a:hover{
  cursor: pointer;
  color: black;
  text-decoration: underline;
  font-weight: bold;
  /* text-shadow: 0px 1px 5px rgba(0,0,0,0.35); */
}
form .optional-icons{
  display: flex;
  flex-direction: column;
  align-items: center;
}
form .icons{
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-items: center;
}
form .icons i{
  font-size: 100px;
}
@media (min-width: 768px) {
  .modal{
    width: 40%;
    height: auto;
  }
}
/* Fin forularios */