:root{
  /* variables para color */
  --morado: #210124;
  --guindo: #750D37;
  --verde: #B3DEC1;
  --celeste: #DBF9F0;
  --plomo: #F7F9F7;
  /* varaibles para tipografia */
  --titulos: font-family: "Roboto Mono", bold;
  --fuente: font-family: "Roboto Mono", monospace;
}
body{
  margin: 0;
  padding: 0;
}

/* estilos globales */
.btn{
  width: 315px;
  height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  border: 4px solid var(--plomo);
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enlace{
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.enlace:hover{
  text-decoration: underline;
}

/* fin estilos globales */

/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* .modal{
  position: absolute;
  width: 100%;
  height: auto;
  background-color: var(--celeste);
  text-align: left;
}
.modal .cerrar{
  position: absolute;
  top: 10px; right: 15px;
  font-size: 30px;
  cursor: pointer;
} */
/* formularios */
.formularios{
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background-color: var(--plomo);
}
form{
  /* background-color: var(--plomo); */
  width: 100%;
  height: auto;
  /* box-shadow: 0px 0px 30px rgba(0,0,0,0.25); */
 /*  box-shadow: -5px -5px 30px gray; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
form div{
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
form h2{
  width: 80%;
  text-align: left;
}
form div input {
  width: 70%;
  height: 40px;
  border-radius: 5px;
  background-color: var(--plomo);
  border: none;
  padding-left: 10px;
  padding-right: 5px;
  color: gray;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.25); 
  transition: box-shadow 0.3s ease;
}
form div label{
  width: 70%;
  text-align: left;
}
form div input:focus {
  box-shadow: 0px 6px 12px rgba(0,0,0,0.35); 
  outline: none;
}
/* form div input{
  width: 300px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--celeste);
  border-style: none;
  box-shadow: 0px 3px 10px gray;
  padding-left: 10px;
  color: var(--plomo);
} */
input::placeholder {
  color: gray;
}
form .btn{
  width: 70%;
  font-size: 17px;
  font-weight: bold;
  color: var(--guindo);
  border: 2px solid var(--guindo);
  border-radius: 10px;
}
form .btn:hover {
  /* box-shadow: 0px 6px 12px rgba(0,0,0,0.35);  */
  
  background-color: var(--guindo);
  color: var(--plomo);
}
form span{
  color: gray;
}
form span a{
  cursor: pointer;
  color: black;
  font-weight: bold;
}
form span a:hover{
  cursor: pointer;
  color: black;
  text-decoration: underline;
  font-weight: bold;
  /* text-shadow: 0px 1px 5px rgba(0,0,0,0.35); */
}
form .optional-icons{
  width: 100%;
  
}
form .icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
form .icons a{
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

/* Fin forularios */

/* Iniciar Sesion */
.Log{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--celeste);
}
.IniciarSesion{
  background-color: var(--celeste);
  width: 100vw;  
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.IniciarSesion div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulos h1{
  text-align: center;
  width: 100%;
  margin: 0;
}
.titulos p{
  text-align: left;
  width: 80%;
  font-weight: bold;
}
.titulos span{
  text-align: right;
  width: 80%;
  font-weight: bold;
}
.IniciarSesion .cabeza{
  background-color: var(--plomo);
  width: 150px;
  height: 150px;
  border-radius: 100%;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
}
.IniciarSesion .cuerpo{
  background-color: var(--plomo);
  width: 100%;
  height: 150px;
  border-radius: 30% 30% 0 0;
  box-shadow: 0px -10px 20px -10px rgba(0,0,0,0.15);

}

.IniciarSesion .figura{
  position: absolute;
  bottom: 0;
  /* transform: translateY(0px); */
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  
}
.IniciarSesion .entradas{
  position: absolute;
  bottom: 100px;
  /* transform: translateY(310px); */
  z-index: 4;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:  20px;
}

.entradas .btn {
  width: 60%;
  height: 50px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--guindo);
  border-radius: 10px;
  border: none;
  color: var(--plomo);
  box-shadow: 0px 0px 12px rgba(0,0,0,0.35);
}
.entradas a{
  font-size: 13px;
}
.IniciarSesion .imagen{
  position: absolute;
  z-index: 1;
  background-color: var(--plomo);
  width: 85%;
  height: 180px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
}

@media (min-width: 768px) {
  .modal{
    width: 40%;
    height: auto;
  }
  form{
    width: 45%;
  }
  .IniciarSesion{
    margin-top: 40px;
    width: 45%;
    height: 80vh;
  }
  .IniciarSesion .imagen{
    width: 35%;
  }
  .IniciarSesion .cuerpo{
    border-radius: 50px 50px 0 0;
    width: 40%;
  }
  .IniciarSesion .entradas{
    width: 40%;
  }
}